body {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    width: 100vw;
}

#content{
    height: 100%;
    width: 100vw;
    display: flex;
}

#map{
    height: 100%;
    width: 80%;
}

#plot{
    height: 20%;
    overflow: visible;
}

#sidebar{
    height: 100%;
    width: 30%;
    justify-content: center;
    align-items: center;
    background-color: #303030;
    position: relative;
}
form{
    width: 90%;
    position: relative;
    left: 50%;
    top: 60%;
    transform: translate(-50%,-50%);
}

.form-select{
    color: white !important;
    background-color: #303030 !important;
    margin-bottom: 1em;
}

.form-select:hover{
    background-color: #636d6e !important;
}

.btn{
    color: white !important;
    border-color: white !important;
    text-decoration: none !important;
    width: 100%;
}
#range_label{
    color: white;
}
#submit:hover{
    background-color: #087523;
}

select, button:hover{
    cursor: pointer;
}

#form_address{
    display: none;
}
#basic-url{
    border: white !important;
    border-radius: 0.2em !important;
}
#basic-addon3{
    background-color: #303030;
    color: white;
}